<h1 class="text-center"><%= @goal.name %></h1>

<p>
  <strong>Current streak:</strong>
  <%= pluralize @goal.current_streak, "day" %>
</p>

<p>
  <strong>Record streak:</strong>
  <%= pluralize @goal.record_streak, "day" %>
</p>

<%= link_to 'settings', edit_goal_path(@goal) %>
